<div class="date-choose">
    <div class="date-cover"></div>
    <div class="date-main">
        <div class="date-header clearfix">
            <div @click="cancelDate" class="fl weui_btn weui_btn_mini">取消</div>
            <span>{{ chooseText }}</span>
            <div @click="finishDate" class="fr weui_btn weui_btn_mini weui_btn_primary">完成</div>
        </div>
        <div class="date-container">
            <div style="height:40px;"></div>
            <div v-show="dateTab==0" class="date-home weui_cells weui_cells_access">
                <a @click="changeTab(1)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>年</p>
                    </div>
                    <div class="weui_cell_ft">{{ date.year ? date.year+'年' : ''}}</div>
                </a>
                <a @click="changeTab(2)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>月</p>
                    </div>
                    <div class="weui_cell_ft">{{ date.month?date.month+'月':''}}</div>
                </a>
                <a @click="changeTab(3)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>日</p>
                    </div>
                    <div class="weui_cell_ft">{{ date.day?date.day+'日':'' }}</div>
                </a>
                <div class="weui_cell" v-if="!!date.weekText">
                    <div class="weui_cell_bd weui_cell_primary" style="color:green;text-align:center;">
                        {{date.weekText }}
                    </div>
                </div>

            </div>
            <div v-show="dateTab==1" class="date-year weui_cells weui_cells_access">
                <a v-for="y in years" @click="selectDate('year',y)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{ y }}年</p>
                    </div>
                </a>
            </div>
            <div v-show="dateTab==2" class="date-month weui_cells weui_cells_access">
                <a v-for="m in months" @click="selectDate('month',m)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{ m }}月</p>
                    </div>
                </a>
            </div>
            <div v-show="dateTab==3" class="date-day weui_cells weui_cells_access">
                <a v-for="d in days" @click="selectDate('day',d)" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>{{ d }}日</p>
                    </div>
                </a>
            </div>
            <div v-show="dateTab==0" style="font-size:0;">
                <div class="select_container">
                    <ul class="select_HH">
                        <li v-for="HH in 24" class="select_item">
                            {{HH}}
                        </li>
                    </ul>
                </div>
                <div class="select_container">
                    <ul class="select_mm">
                        <li v-for="mm in 60" class="select_item">
                            {{mm}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-show="dateTab==0" @click="clearDate" class="date-clear">
            清除选项
        </div>
    </div>
</div>