* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #333;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased; }

header {
  background-color: #000; }

.header_wrap {
  position: relative;
  height: 30px;
  max-width: 1224px;
  margin: 0 auto; }
  .header_wrap a {
    line-height: 30px;
    color: #c4c3c3;
    text-decoration: none; }
    .header_wrap a:hover {
      color: #fff; }
  .header_wrap li {
    list-style: none; }
  .header_wrap .top_tap .to_app {
    float: left;
    padding: 0 12px 0 27px;
    color: #00b3fa;
    background-image: url(http://pstatic.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_4940eb3.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 10px 48%; }
    .header_wrap .top_tap .to_app:hover {
      color: 49.01961%; }
  .header_wrap .top_tap .to_oa {
    float: left;
    padding: 0 12px;
    line-height: 15px;
    margin-top: 7px;
    border-left: 1px solid #00b3fa; }
  .header_wrap .top_nav {
    float: right; }
  .header_wrap .top_nav_wrap {
    height: 30px; }
    .header_wrap .top_nav_wrap > li {
      float: left; }
      .header_wrap .top_nav_wrap > li > a {
        float: left;
        padding: 0 12px;
        line-height: 15px;
        margin-top: 7px; }
    .header_wrap .top_nav_wrap .top_it {
      border-left: 1px solid #00b3fa; }
  .header_wrap .sec_nav {
    display: none;
    margin-top: 30px;
    position: absolute;
    background-color: #000; }
    .header_wrap .sec_nav a {
      padding: 0 12px; }
    .header_wrap .sec_nav li:hover {
      background-color: #333; }
  .header_wrap .nav_dpdown {
    background-color: #000;
    padding-bottom: 8px; }
    .header_wrap .nav_dpdown .top_it {
      padding-right: 25px; }
    .header_wrap .nav_dpdown i {
      position: absolute;
      top: 12px;
      right: 10px;
      font-size: 0;
      height: 0;
      width: 0;
      border-width: 5px 4px 0;
      border-style: solid dashed;
      border-color: #fff transparent transparent;
      transition: all 0.4s ease 0s;
      animation-fill-mode: forwards; }
    .header_wrap .nav_dpdown:hover i {
      transform: rotate(180deg); }
    .header_wrap .nav_dpdown:hover .sec_nav {
      display: block; }

.main_head {
  background-color: #fff;
  height: 54px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa; }
  .main_head .wrap {
    max-width: 1024px;
    margin: 0 auto; }
  .main_head .left_wrap {
    float: left;
    height: 100%;
    width: 260px; }
  .main_head .logo {
    float: left;
    background-image: url(http://pstatic.lagou.com/www/static/common/widgets/header_c/modules/img/logo_1c5763c.png);
    width: 97px;
    height: 34px;
    margin-top: 10px; }
  .main_head .city {
    position: relative;
    top: 20px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    color: #222; }
  .main_head .swipCity {
    position: relative;
    top: 20px;
    padding-left: 4px;
    font-size: 12px;
    cursor: pointer;
    color: #888; }
  .main_head ul:hover .ul-it.cur > a {
    border-bottom: 2px solid transparent; }
  .main_head ul:hover .ul-it.cur:hover > a {
    border-bottom: 2px solid #00b3fa; }
  .main_head li.ul-it {
    display: inline-block;
    margin: 0 16px;
    position: relative; }
  .main_head .ul-it > a {
    display: block;
    font-size: 18px;
    width: 36px;
    height: 53px;
    line-height: 53px;
    padding: 0 5px;
    color: #333333; }
  .main_head .ul-it.cur > a {
    border-bottom: 2px solid #00b3fa; }
  .main_head .ul-it:hover a {
    border-bottom: 2px solid #00b3fa; }

.container {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px; }

.sidebar {
  width: 230px;
  position: relative;
  color: #333333;
  float: left; }
  .sidebar h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    padding-left: 8px;
    font-weight: 500; }
    .sidebar h2 span {
      width: 13px;
      height: 14px;
      background-image: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png);
      float: right;
      margin-top: 4px; }
  .sidebar a {
    font-size: 14px;
    line-height: 22px;
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    color: #555555;
    float: left; }
  .sidebar .menu_box {
    position: relative; }
  .sidebar .menu_item {
    position: relative;
    line-height: 22px;
    padding: 6px 12px;
    border: 2px solid transparent;
    border-right: none;
    overflow: hidden;
    z-index: 112;
    background-color: #eee; }
  .sidebar .side_item {
    position: absolute;
    left: 230px;
    width: 540px;
    padding: 15px 30px 5px;
    border: 2px solid #000;
    top: 0;
    z-index: 100;
    display: none;
    background-color: #fff; }
    .sidebar .side_item dl {
      margin: 0 0 20px; }
    .sidebar .side_item dt > a {
      width: 70px;
      font-size: 14px;
      line-height: 28px;
      margin: 0;
      text-align: right;
      position: absolute;
      text-decoration: underline; }
      .sidebar .side_item dt > a:hover {
        color: #00b3fa; }
    .sidebar .side_item dd {
      margin-left: 100px;
      overflow: hidden; }
      .sidebar .side_item dd a {
        white-space: normal;
        font-size: 14px;
        line-height: 28px;
        padding: 0 10px;
        background-image: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png);
        background-repeat: no-repeat;
        background-position: -29px center;
        margin-left: -1px; }
      .sidebar .side_item dd a:hover {
        text-decoration: underline;
        color: #00b3fa; }
      .sidebar .side_item dd .curr {
        color: #00b3fa; }
  .sidebar .menu_box:hover .menu_item {
    width: 206px;
    border: 2px solid #000;
    border-right: none;
    z-index: 1001;
    background-color: #fff; }
  .sidebar .menu_box:hover .side_item {
    display: block;
    z-index: 1000; }
  .sidebar footer {
    margin-top: 12px;
    padding-left: 20px;
    width: 210px;
    height: 46px;
    border-bottom: 2px solid #00b3fa;
    background-color: #eee; }
    .sidebar footer > a {
      font-size: 18px;
      line-height: 46px;
      width: 210px; }
      .sidebar footer > a i {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: 14px;
        width: 21px;
        height: 46px;
        background: url(http://pstatic.lagou.com/www/static/index/modules/sidebar/img/arr_btn_34cdbac.png) 0 -19px no-repeat; }
      .sidebar footer > a:hover {
        color: #00b3fa; }

.content {
  margin-left: 280px; }

.search_box {
  width: 740px;
  position: relative;
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica; }
  .search_box form {
    height: 100%;
    overflow: hidden; }
  .search_box #search_btn {
    float: left;
    width: 146px;
    font-size: 18px;
    height: 33px;
    border: 2px solid #00b3fa;
    color: #fff;
    cursor: pointer;
    background-color: #00b3fa;
    text-align: center; }
    .search_box #search_btn:focus {
      outline: 0 none; }
    .search_box #search_btn:hover {
      background-color: #00a0ff; }
  .search_box #search_input {
    float: left;
    width: 570px;
    height: 23px;
    font-size: 16px;
    padding: 5px 8px 5px 10px;
    border: 2px solid #00b3fa;
    border-right-width: 0;
    margin: 0; }
    .search_box #search_input:focus {
      outline: 0 none;
      color: red; }
  .search_box .guess_search {
    position: absolute;
    top: 35px;
    left: 0;
    width: 588px;
    border: 2px solid #00b3fa;
    display: none;
    z-index: 100;
    background-color: #fff; }
    .search_box .guess_search span {
      display: block;
      font-size: 15px;
      color: #999;
      line-height: 22px;
      padding: 5px 6px; }
    .search_box .guess_search li {
      font-size: 1.1em;
      color: #444;
      padding: 5px 6px; }
      .search_box .guess_search li:hover {
        background-color: #00b3fa;
        color: #fff; }

.hot_search {
  margin: 6px 0 18px;
  overflow: hidden;
  line-height: 22px; }
  .hot_search dt {
    width: 70px;
    font-size: 14px;
    float: left; }
  .hot_search dd {
    margin-right: 20px;
    float: left; }
  .hot_search a {
    color: #00b3fa; }
    .hot_search a:hover {
      text-decoration: underline; }

.home_banner {
  height: 160px;
  position: relative;
  margin-bottom: 18px;
  overflow: hidden; }
  .home_banner li {
    margin: 0;
    padding: 0; }
  .home_banner a {
    display: list-item; }
  .home_banner .banner_bg {
    width: 612px;
    position: absolute; }
    .home_banner .banner_bg li {
      height: 160px;
      width: 612px; }
    .home_banner .banner_bg img {
      width: 612px;
      height: 160px; }
  .home_banner .banner_control {
    position: absolute;
    right: 0;
    top: 0; }
    .home_banner .banner_control em {
      position: absolute;
      left: 0;
      top: 0;
      border: 4px solid #00b3fa;
      width: 113px;
      height: 42px;
      z-index: 100; }
      .home_banner .banner_control em::before {
        content: "";
        position: absolute;
        left: -16px;
        top: 15px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-right-color: #00b3fa; }
    .home_banner .banner_control li {
      border: 4px solid #d3d3d3;
      margin-bottom: 5px;
      position: relative;
      height: 42px; }
    .home_banner .banner_control i {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3); }
    .home_banner .banner_control img {
      width: 113px;
      height: 42px;
      border: 0;
      margin: 0;
      padding: 0; }
  .home_banner .current i {
    background-color: transparent; }

.showCompany {
  height: 118px;
  margin-bottom: 25px;
  overflow: hidden;
  font-size: 0; }
  .showCompany ul {
    overflow: hidden; }
  .showCompany li {
    display: inline-block;
    width: 113px;
    height: 113px;
    z-index: 0;
    border: 2px solid transparent;
    margin-right: 8px;
    background-color: greenyellow;
    position: relative;
    overflow: hidden; }
  .showCompany li:nth-last-child(1) {
    margin-right: 0; }
  .showCompany .info {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00b3fa;
    color: #fff; }
    .showCompany .info h2 {
      font-size: 24px;
      height: 24px;
      line-height: 24px;
      margin: 10px 8px 8px;
      font-weight: 400;
      text-align: center;
      overflow: hidden; }
    .showCompany .info p {
      font-size: 12px;
      line-height: 18px;
      margin: 6px 8px; }
    .showCompany .info em {
      display: block;
      width: 100px;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 0 auto; }

.tap_control {
  width: 744px;
  height: 39px;
  background-color: #eee; }
  .tap_control li {
    width: 72px;
    height: 22px;
    padding: 7px 20px;
    border-top: 3px solid transparent;
    font-size: 18px;
    line-height: 22px;
    float: left;
    cursor: pointer; }
    .tap_control li.curr {
      border-color: #00b3fa;
      background-color: #fff; }

.tap_content .hot_tap {
  display: none; }
.tap_content .new_tap {
  display: none; }
.tap_content .item {
  padding: 22px 0 0 15px;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px dashed #00b3fa; }
  .tap_content .item .job_content {
    width: 60%;
    float: left; }
  .tap_content .item .company_content {
    margin-left: 60%; }
  .tap_content .item a {
    font-size: 16px;
    line-height: 22px;
    color: #00b3fa; }
    .tap_content .item a span {
      margin-left: 0.5em; }
  .tap_content .item p {
    margin: 10px 0; }
    .tap_content .item p b {
      color: red;
      margin-right: 0.5em; }
    .tap_content .item p > span {
      display: inline-block;
      padding: 3px;
      border: 1px solid #dcdcdc;
      margin-right: 10px; }
  .tap_content .item h3 > span {
    font-size: 14px;
    color: #999999; }
.tap_content .list_more {
  display: block;
  padding: 5px 40px 5px 15px;
  background-color: #00b3fa;
  color: #fff;
  width: 64px;
  line-height: 22px;
  font-size: 16px;
  margin-top: 25px;
  float: right;
  background-image: url(http://pstatic.lagou.com/www/static/index/modules/job_list/img/arrow_54116b2.png);
  background-repeat: no-repeat;
  background-position: 85px 50%; }

.linkbox {
  margin-top: 90px;
  overflow: hidden; }
  .linkbox dt {
    width: 70px;
    float: left;
    font-size: 15px; }
  .linkbox dd {
    margin-left: 70px; }
    .linkbox dd a {
      white-space: nowrap;
      float: left;
      height: 15px;
      padding: 8px 9px;
      font-size: 12px;
      line-height: 15px;
      color: #555;
      text-decoration: none; }
    .linkbox dd span {
      float: left;
      padding: 7px 0 9px;
      font-size: 12px;
      line-height: 15px;
      color: #999; }

.last_footer {
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #00b3fa;
  font-size: 18px; }
  .last_footer a {
    color: #00b3fa;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
